<h1>Friends list goes here!</h1>

<% friends.forEach(function(friend){ %>
	<li> <%= friend %></li>
<% }); %>


<form action= "/addfriend", method= "post">               
	// input sent under name "newFriend"
	<input type= "text" name= "newFriend" placeholder= "name">
	<button> Add Friend </button>
</form>